<!DOCTYPE html>
<html manifest="impamp.appcache">
  <head>
    <meta charset="UTF-8">
    <title>ImpAmp2</title>

    <link rel="icon" type="image/png" href="/images/i.png">

    <%= stylesheet_link_tag 'ImpAmp' %>

    <%= javascript_include_tag 'ImpAmp' %>
  </head>

  <body>
    <div class="options">
      <a id="syncBtn" href="#" class="btn" data-sync-enabled="true">
        <i class="icon-time"></i> Waiting for Sync
      </a>

      <a id="noMp3Warn" href="#" class="btn btn-danger" style="display: none">
        <i class="icon-exclamation-sign"></i> Your Browser Doesn't Have MP3 Support
      </a>

      <div class="btn-group">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon-cog"></i>
            <i class="icon-caret-down"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a id="delete_mode" href="#"><i class="icon-trash"></i><span>Enter Delete Mode</span></a></li>
            <li class="divider"></li>
            <li><a id="importBtn" href="#"><i class="icon-download-alt"></i><span>Import Pads</span></a></li>
            <li><a id="exportBtn" href="#"><i class="icon-upload-alt"></i>  <span>Export Pads</span></a></li>
          </ul>
      </div>
    </div>
    <div class="container">
      <div class="pages-container">
        <% pages = (1..9).to_a.push(0) %>
        <ul class="nav nav-tabs page-nav">
          <% for i in pages %>
            <li><a href="#page_<%= i %>" data-toggle="tab" data-shortcut="<%= i %>">Page <%= i %></a></li>
          <% end %>
        </ul>
        <div id="pad-pages" class="tab-content">
          <% for i in pages %>
            <div class="tab-pane pad-page <%= "active" if i == 1 %>" id="page_<%= i %>">
              <%= partial 'page', locals: { shortcut: i } %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <%= partial 'footer' %>
  </body>
</html>